body {
    font-family: 'Aldrich';
}

.project-1,
.project-2,
.project-3 {
  cursor: pointer;
}

.header-container {
  display: flex;
  border-bottom: 5px solid #7d97ad;
  justify-content: space-between;
}

.name,
.title,
.project-caption {
  text-transform: uppercase;
  color: #2d3c49;
}

.featured-work-text {
  color: #7d97ad;
}

@media screen and (max-width: 425px) {
  .header-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.75em;
    align-items: center;
  }

  .udacity-container {
    align-items: flex-end;
  }

  .udacity-logo {
    max-width: 40px;
  }

  .computer-container {
    padding-top: 25px;
  }

  .computer-image {
    width:100%;
  }

  .featured-work-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .project-1,
  .project-2,
  .project-3 {
    width: 100%;
    border-style: solid;
  }

  .featured-work-text {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 426px) {
  .header-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    font-size: 1em;
    align-items: center;
  }

  .header-right {
    justify-content: center;
  }

  .udacity-logo {
    max-width: 75px;
  }

  .computer-container {
    padding-top: 25px;
  }

  .computer-image {
    object-fit: cover;
    width:100%;
    height: 300px;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-1,
  .project-2,
  .project-3 {
    height: 200px;
    width: 250px;
    border-style: solid;
  }

  .featured-work-text {
    font-size: 2em;
    text-decoration: underline;
  }

  .project-caption {
    font-size: 1em;
    line-height: 20px;
  }
}

@media screen and (min-width: 1339px) {
  .header-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    font-size: 1em;
    align-items: center;
  }

  .header-right {
    justify-content: center;
  }

  .udacity-logo {
    max-width: 75px;
  }

  .computer-container {
    padding-top: 25px;
  }

  .computer-image {
    object-fit: cover;
    width:100%;
    height: 300px;
  }

  .projects-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .project-1,
  .project-2,
  .project-3 {
    height: 300px;
    width: 365px;
    border-style: solid;
  }

  .featured-work-text {
    font-size: 2em;
    text-decoration: underline;
  }

  .project-caption {
    font-size: 1.5em;
    line-height: 50px;
  }
}

@media screen and (min-width: 2560px) {
  body {
    padding: 50px;
    padding-top: 25px;
  }

  .header-right {
    text-align: right;
  }

  .computer-image {
    object-fit: cover;
    width:100%;
      height: 750px;
  }

  .projects-container {
    display: flex;
    justify-content: space-around;
  }

  .project-1,
  .project-2,
  .project-3 {
    height: 500px;
    width: 675px;
    border-style: solid;
  }

  .udacity-logo {
    max-width: 200px;
  }

  .name {
    font-size: 4em;
  }

  .title {
    font-size: 2.25em;
  }

  .featured-work-text {
    font-size: 4em;
  }
  
  .project-caption {
    font-size: 2.25em;
    line-height: 100px;
  }
}
